@model IEnumerable<CinemaScopeWeb.ViewModels.ManagedMovieViewModel>

@{
    ViewBag.Title = "ManageMovies";
}


<div>
    @Html.ActionLink("Add movie", "EditMovie", null ,new{ @class = "btn-outline-light btn btn-lg btn-dark", style = "width: 100%" })
</div>
<div class="films row d-flex justify-content-center">
    @foreach (var movie in Model)
    {
        <div class="col-2 m-3 p-1" id="film">
            <div class="row justify-content-around">
                <img class="btn p-0" style="width: 200px; height: 250px" alt=""
                     onclick="location.href = '@Url.Action("Get", "Movies", new {id = movie.Id})'" src="@movie.Poster" />
            </div>
            <div class="row justify-content-center">
                <div align="center">
                    <a class="p-0 h5 text-decoration-none" style="color: #FCFCFA" href="@Url.Action("Get", "Movies", new {id = movie.Id})">@movie.Title</a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div align="center">
                    @Html.ActionLink("Edit", "EditMovie", new { Id = movie.Id }, new{@class="btn-outline-light btn btn-lg btn-dark"});
                    @Html.ActionLink("Delete", "DeleteMovie", new { Id = movie.Id }, new { @class="btn-outline-light btn btn-lg btn-dark" ,
                        style="color: #FCFCFA; background-color: #d6094a;" })
                </div>
            </div>
        </div>
    }
</div>
@Html.Partial("_ShowMoreButton")